.nav-enlace{
    display: inline-block;
    background:#0c6930;
    color:#fff1cf;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.nav-enlace:hover{
    background:#da5521 ;
}
nav{
    background:#black;
    padding: 12px;
    border-radius: 4px;
}